* {
  box-sizing: border-box;
}

:root {
  font-size: 20px;
  font-family: Arial, sans-serif;
  /* https://colorhunt.co/palette/4c4b16898121e6c767f87a53 */
  background-color: #E6C767;
}

:link {
  color: #898121;
}

:visited {
  color: #4C4B16;
}

#title {
  font-size: 1rem;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* color: red; */
  font-size: 1rem;
}

body {
  max-width: 65ch;
  margin-left: auto;
  margin-right: auto;
  padding: 0.75rem;
  border: 1px solid black;
  box-shadow: 2px 2px black;
  background-color: white;
  max-width: 720px;
}

img {
  max-width: 100%;
}

p {
  letter-spacing: normal;
  line-height: 1.5;
}

section[itemprop=articleBody] > p:last-child {
  margin-bottom: 0;
}

#support-ukraine {
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;

  a {
  color: #F87A53;
  }
}