* {
  box-sizing: border-box;
}

:root {
  /* https://colorhunt.co/palette/4c4b16898121e6c767f87a53 */
  --color-1: #4c4b16;
  --color-2: #898121;
  --color-3: #e6c767;
  --accent: #f87a53;
}

:root {
  font-size: 20px;
  font-family: Arial, sans-serif;
  background-color: #e6c767;
}


:link {
  color: #898121;
}


:visited {
  color: #4c4b16;
}

#title {
  font-size: 1rem;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1rem;
}

body {
  margin-left: auto;
  margin-right: auto;
  padding: 0.75rem;
  border: 1px solid black;
  box-shadow: 2px 2px black;
  background-color: white;
  max-width: 720px;
}

img {
  max-width: 100%;
}

p {
  letter-spacing: normal;
  line-height: 1.5;
}

section[itemprop=articleBody] > p:last-child {
  margin-bottom: 0;
}

#support-ukraine {
  border: 1px solid black;
  box-shadow: 2px 2px black;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 1rem;
  text-align: center;
  background-color: var(--accent);

  :link, :visited {
    color: black;
  }
}

embed {
  max-width: calc(720px - calc(0.75rem * 2));
}


