* {
  box-sizing: border-box;
}

:root {
  font-size: 24px;
  font-family: Palatino, Times, Times New Roman, serif;
}

#title {
  font-size: 1.5rem;
}

body {
  max-width: 65ch;
  margin-left: auto;
  margin-right: auto;
}

img {
  max-width: 100%;
}
